<!DOCTYPE html>
<html>
  <head>
    <title>Simple Cms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
  <p>This is test layout</p>
    <%= yield %>
  </body>
</html>
